# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media
staticfiles
*.mo
*.pyo

# Environments
.env
.venv/
env/
venv/
ENV/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
